*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    
}
.baground_1{
    width: 100%;
    height: 650px;
    padding-top: 40px;
    background-color: rgb(250, 226, 230);
}
.container{
    width: 900px;
    margin: 0 auto;
}
.background_2{
    position: relative;
    width: 1000px;
    height: 85%;
    margin: auto;
    background-color: #fff;
    background-image: url(./images/background.jpg);
    background-size: 30%;
    background-repeat: no-repeat;
}
.navigation{
    cursor: progress;
    padding-top: 45px;
}
.navigation .active{
    padding-right: 530px;
}
.navigation .active i{
    padding-right: 10px;
}
.navigation ul{
    display: flex;
}
.navigation ul li{
    padding-right: 25px;
}
.navigation ul li a{
    font-weight: bold;
    font-size: 16px;
    color: grey;
}
.navigation ul li a span{
    color: rgb(2, 2, 26);
}
.navigation ul li a:hover{
    color: rgb(2, 2, 26);
}
.text{
    position: absolute;
    top: 120px;
    left: 400px;
    width: 630px;
}
.text .title{
    display: flex;
}
.text h1{
    width: 400px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 52px;
    color: rgb(2, 2, 26);
}
.text .vertical{
    width: 80px;
    height: 2.5px;
    background-color: rgb(2, 2, 26);
    margin-top: 122px;
    margin-left: -75px;
}
.text h5{
    font-weight: bold;
    font-size: 15px;
    color: rgb(2, 2, 26);
    padding-top: 15px;
}
.you_tube{
    cursor: progress;
    display: flex;
    padding-top: 30px;
}
.link{   cursor: progress;
    display: flex;
    flex-direction: column;
}
.link img{
    width: 165px;
    height: 125px;
}
.link a{
    font-weight: normal;
    font-size: 16px;
    color: rgb(2, 2, 26);
    padding-top: 8px;
}
.paragraph{
    
    width: 290px;
}
.paragraph p{cursor: progress;
    font-weight: normal;
    font-size: 17px;
    line-height: 32px;
    padding-left: 35px;
}
